* {
  margin: 0;
}
body {
  background-color: #e3e4e7;
}
.MuiCard-root {
  border-radius: 20px !important;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 20px;
}
.app__left {
  flex: 0.8;
}
.app__dropdown {
  background-color: white;
}

.app__right {
  display: flex;
  flex-direction: column;
}
.new-w {
  margin-bottom: 60px;
  margin-top: 50px;
}
.new-C {
  margin-top: 10px;
  margin-bottom: 30px;
}

.app__header {
  color: #d81717;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .app__stats {
    flex-direction: column;
    justify-content: space-between;
  }
  .MuiCard-root {
    margin: 2px !important;
    border-radius: 25px;
  }
}
